body {
    margin: 0;
}

div {
    margin: 0;
}

.left {
    width: 50vw;
    height: 100vh;
    background-color: beige;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: auto auto auto auto;
    grid-gap: 7px;

    * {
        background-color: azure;
        border: 2px solid black;
    }
}

.img-1 {
    grid-column: 3 span;
}

.img-2, .img-3, .img-4  {
    grid-template-columns: span 1;
}